{% extends "base.html" %}
{% load static %}
{% block seo_tags %}
{{meta_tags}}
{{og_tags}}

{% endblock seo_tags %}

{% block content %}

<section class="px-4 py-24 mx-auto max-w-7xl">
  <h2 class="mb-2 text-3xl font-extrabold leading-tight text-gray-900">Web Apps</h2>
  <p class="mb-20 text-xl text-gray-500">These web apps solve a very certain problems</p>
  <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3">
    <div>
      <a href="{% url 'moody_home' %}">
        <img src="{% static 'images/Moody.png' %}" class="object-cover w-full h-56 mb-5 bg-center rounded-xl" alt="Moody" loading="lazy" />
      </a>
      <h2 class="mb-2 text-lg font-semibold text-gray-900">
        <a href="{% url 'moody_home' %}" class="text-gray-900 hover:text-purple-700">Moody: An AI Chatbot</a>
      </h2>
      <p class="mb-3 text-md font-normal text-gray-500">
        Chat with a chatbot by customising it's mood according to your own
      </p>
    </div>
    <div>
      <a href="{% url 'logon_home' %}">
        <img src="{% static 'images/Logon.png' %}" class="object-cover w-full h-56 mb-5 bg-center rounded-xl" alt="Logon" loading="lazy" />
      </a>
      <h2 class="mb-2 text-lg font-semibold text-gray-900">
        <a href="{% url 'logon_home' %}" class="text-gray-900 hover:text-purple-700">Logon: Generate Images from text</a>
      </h2>
      <p class="mb-3 text-md font-normal text-gray-500">
        A simple old school text to image generator
      </p>
    </div>
    <div>
      <a href="{% url 'saaya_home' %}">
        <img src="{% static 'images/Saaya.png' %}" class="object-cover w-full h-56 mb-5 bg-center rounded-xl" alt="Saaya" loading="lazy" />
      </a>
      <h2 class="mb-2 text-lg font-semibold text-gray-900">
        <a href="{% url 'saaya_home' %}" class="text-gray-900 hover:text-purple-700">Saaya: An Autocomplete Assistant</a>
      </h2>
      <p class="mb-3 text-md font-normal text-gray-500">
        Get search engine autocomplete data
      </p>
      
    </div>
  </div>
</section>
<section class="px-4 py-24 mx-auto max-w-7xl">
  <h2 class="mb-2 text-3xl font-extrabold leading-tight text-gray-900">Other Projects</h2>
  <p class="mb-20 text-xl text-gray-500">These are dedicated projects for showcasing my work</p>
  <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3">
    <div>
      <a href="//ytrends.kirmola.dev">
        <img src="{% static 'images/Ytrends.png' %}" class="object-cover w-full h-56 mb-5 bg-center rounded-xl" alt="YTrends" loading="lazy" />
      </a>
      <h2 class="mb-2 text-lg font-semibold text-gray-900">
        <a href="//ytrends.kirmola.dev" class="text-gray-900 hover:text-purple-700">YTrends: Trends on Youtube</a>
      </h2>
      <p class="mb-3 text-md font-normal text-gray-500">
        Get Latest Youtube Trending Data for all countries in the world
      </p>
    </div>
    <div>
      <a href="//quotes.kirmola.dev">
        <img src="{% static 'images/QuotesApp.png' %}" class="object-cover w-full h-56 mb-5 bg-center rounded-xl" alt="Moody" loading="lazy" />
      </a>
      <h2 class="mb-2 text-lg font-semibold text-gray-900">
        <a href="//quotes.kirmola.dev" class="text-gray-900 hover:text-purple-700">QuotesApp</a>
      </h2>
      <p class="mb-3 text-md font-normal text-gray-500">
        Read the Quotes by famous authors of the world
      </p>
    </div>
  </div>
</section>
{% endblock content %}